@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white-100 text-black-500;
  }
}

@layer components {
  .btn-primary {
    @apply bg-black-500 text-white-100 px-8 py-4 rounded-lg hover:bg-black-400 transition duration-300 text-lg font-semibold;
  }
  
  .btn-secondary {
    @apply border-2 border-black-500 text-black-500 px-8 py-4 rounded-lg hover:bg-black-100/20 transition duration-300 text-lg font-semibold;
  }
}

@layer utilities {
  .animate-gradient-x {
    animation: gradient-x 15s linear infinite;
  }

  @keyframes gradient-x {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}